<!DOCTYPE html>
<html ng-app='internalApp' lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Booking Internal</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link href="assets/css/main.css" rel="stylesheet">  
    <link rel="stylesheet" href="lib/notif/jquery.notifyBar.css">

  </head>

  <body>
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Booking</a>
        </div>
        <div ng-show="globals.currentUser">
          
        <ul class="nav navbar-nav navbar-left">
            <li><a class="no-interaction">Logged in as: <span class="username">{{globals.currentUser.username}}</span></a></li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
        </ul>
        </div>
      </div>
    </nav>

    <div ng-view></div>

    <script type="text/javascript" src="lib/jquery/jquery-1.12.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-cookies.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="modules/authentication/services.js"></script>
    <script src="modules/authentication/controllers.js"></script>
    <script src="modules/administrator/controllers.js"></script>
    <script src="modules/manager/controllers.js"></script>
    <script src="modules/waiter/controllers.js"></script>

    <script type="text/javascript" src="lib/notif/jquery.notifyBar.js"></script>
  </body>

</html>