/*html, body {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}*/

html, body {
width: 100%;
height: 100%;
}



#project, h5{
	text-align: center;
}

.findRest{
	height: 250px;
	margin-bottom: 30px;
}
.findRest img{
	position: absolute;
	height: 250px;
	width: 100%;
	background-size: cover;
}
.findRest button{
	width:70px;
}

.findRestSearch{
	position: relative;
	padding-top: 110px;
	margin-left: 30px;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
	display: inline-block;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; height: 35px;}
.right-addon input { padding-right: 30px; }


.restCount{
	margin-bottom: 20px;
	margin-left: 30px;
}
.restList{
	margin-bottom: 20px;
}

.rest-row-with-image{
	margin-left: 30px;
}
.rest-info{
	padding-top: 
}
hr{
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
	color: black;
}

.rest-image img{
    width:160px;
    height:160px;
}

footer
{
    clear: both;

}




  
