
.header{
	position: relative;
	/*background-color: black;*/
	height: 200px;
	margin-bottom: 20px;
}

.header img, .rest-info{
	position: absolute;
	
}

.header img{
	width: 160px;
	height: 160px;
	margin-top: 20px;
	margin-left: 10px;
}
.container-fluid{
	/*background-color: #AFA39D;;*/
	position: relative;
	padding-bottom: 50px;
}
.rest-info{
	margin-left: 180px;
	margin-top: 30px;
	color: white;
}

.reservation{
	margin-top: 20px;
	
}

.bookARestaurant{
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
	margin-left: 70px;
	/* width: 800px; */
}

h2{
	text-align: center;
}
/* .reservation textarea{
	width: 250px;
	height: 80px;
	margin-bottom: 10px;
	margin-left: 75px;
	border-radius: 4px;
    box-shadow: 0 0 10px #999999! important;
} */

#comments
{
	margin-left: 15px;
    width: 470px;
    margin-bottom: 20px;
    height: 110px;
}

#registration-form
{
border-style: groove;
    width: 550px;
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
}


.bookButton button {
	height: 35px;
	width: 250px;
	border-radius : 3px 3px 3px 3px;
	margin-left: 75px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

::-webkit-input-placeholder {
    color: black;
}
:-moz-placeholder {
    color: black;
}
::-moz-placeholder {
    color: black;
}
:-ms-input-placeholder {
    color: black;
}


/* #inputFirstName, #inputLastName, #inputEmail, #inputPhone{
	width: 250px;
	height:35px;
	margin-bottom: 20px;
	border-radius: 4px;
    box-shadow: 0 0 10px #999999! important;
	font-weight: normal;
	margin-left: 75px;
} */
/* 
 #repeatSelectFrom, #repeatSelectTo {
	width: 100px;
	height: 35px;
	margin-bottom: 10px;
	border-radius: 4px;
    box-shadow: 0 0 10px #999999! important;
	font-weight: lighter;
	margin-left: 75px;
}
 */
.row
{
	width: 600px;
    margin-left: 20px !important;
}

.map{
	background-color: black;
	
}

#googleMap{
	margin-left: 150px;
	margin-bottom: 20px;
}

#location{
	margin-left: 150px;
	color: white;
}

#copyRights{
	color: white;
	text-align: center;
}


body  {
    background-image: url('../Booking.images/restaurant.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}