<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ><a href="#/administrator/users">Users</a></li>
        <li ><a href="#/administrator/restaurants">Restaurants</a></li>
        <li class="active"><a href="#/administrator/bookings">Bookings</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Hodor hodor hodor</h1>
        HODOR HODOR HODOR HODOR
      <h2 class="sub-header">Hodor hodor hodor hodor hodor... hodor hodor </h2>
        Hodor hodor hodor: Hodor, Hodor hodor: Hodor
    </div>
  </div>
</div> 