<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ><a href="#/administrator/users">Users</a></li>
        <li class="active"><a href="#/administrator/restaurants">Restaurants</a></li>
        <li ><a href="#/administrator/bookings">Bookings</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<div ng-show="show=='main'" ng-hide="show=='edit'">
  <h3 class="page-header">
    <span>Manage locations: </span> <input ng-model="searchRestaurants" class="search form-control" name="search" autofocus="autofocus" type="text">
  </h3>
  <div ng-repeat="restaurant in restaurants | filter:searchRestaurants">
    <div class="cont">
      <div class="left"><div class="left2">
        <table>
          <tr>
            <td>Name:</td>
            <td>{{restaurant.name}}</td>
          </tr>
          <tr>
            <td>Adress:</td>
            <td>{{restaurant.address}}</td>
          </tr>
          <tr>
            <td>City:</td>
            <td>{{restaurant.city}}</td>
          </tr>
          <tr>
            <td>Category:</td>
            <td>{{restaurant.category}}</td>
          </tr>
          <tr>
            <td>Latitude:</td>
            <td>{{restaurant.latitude}}</td>
          </tr>
          <tr>
            <td>Longitude:</td>
            <td>{{restaurant.longitude}}</td>
          </tr>
          <tr>
            <td>No tables:</td>
            <td>{{restaurant.noTables}}</td>
          </tr>
          <tr>
            <td>Telephone:</td>
            <td>{{restaurant.telephone}}</td>
          </tr>
        </table>
        <br>
        <table>  
          <tr>
            <td><button ng-click="toggleEditLocation(restaurant.name, restaurant.address, restaurant.city, restaurant.category, restaurant.latitude, restaurant.longitude, restaurant.noTables, restaurant.telephone, restaurant.id)" type = "button" class = "btn btn-warning btn-xs">Edit location</button></td>
            <td>&nbsp;</td>
            <td><button ng-click="toggleCreateLocation()" class = "btn btn-primary btn-xs">New location</button></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="right"><img class="restaurant_image" src="{{restaurant.imagePath ? imageBase + '/' + restaurant.imagePath : imageBase + '/' + 'default-restaurant.gif'}}">
    </div>
  
  </div>
  <hr>
</div>
</div>

<div ng-show="show=='edit'" ng-hide="show=='main'">
  <h1 class="page-header">Add/Edit Location</h1>
  <form role="form">
    <div class="form-group">
      <label for="newLocationName">Name:</label>
      <input class="form-control" type='text' id="newLocationName" ng-model="newLocationName" placeholder="Enter new name">
    </div>
    <div class="form-group">
      <label for="newLocationAddress">Address:</label>
      <input type="text" class="form-control" id="newLocationAddress" ng-model="newLocationAddress" placeholder="Enter new address">
    </div>
    <div class="form-group">
      <label for="newLocationCity">City:</label>
      <input class="form-control" id="newLocationCity" ng-model="newLocationCity" placeholder="Enter new city">
    </div>
    <div class="form-group">
      <label for="newLocationCategory">Select a Category (select one):</label>
      <input class="form-control" id="newLocationCateg" ng-model="newLocationCategory" placeholder="Enter Category">
      </select>
    </div>
    <div class="form-group">
      <label for="newLocationLatitude">Latitude:</label>
      <input class="form-control" id="newLocationLatitude" ng-model="newLocationLatitude" placeholder="Enter new latitude">
    </div>
    <div class="form-group">
      <label for="newLocationLongitude">Longitude:</label>
      <input class="form-control" id="newLocationLongitude" ng-model="newLocationLongitude" placeholder="Enter new longitude">
    </div>
    <div class="form-group">
      <label for="newLocationNoTables">NoTables:</label>
      <input class="form-control" id="newLocationNoTables" ng-model="newLocationNoTables" placeholder="Enter new number of tables">
    </div>
    <div class="form-group">
      <label for="newLocationTelephone">Telephone:</label>
      <input class="form-control" id="newLocationTelephone" ng-model="newLocationTelephone" placeholder="Enter new telephone">
    </div>
    <button ng-show = "action=='create'" ng-hide= "action=='edit'" class="btn btn-primary" ng-click="createNewLocation()">Create</button>
    <button ng-show = "action=='edit'" ng-hide= "action=='create'" class="btn btn-warning" ng-click="editLocation()">Update</button>

    <button ng-click="resetShow()" class="btn btn-success">Go Back
    </a>        
  </form>
</div>

</div>
</div>
</div> 