<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#/administrator/users">Users</a></li>
        <li ><a href="#/administrator/restaurants">Restaurants</a></li>
        <li ><a href="#/administrator/bookings">Bookings</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div ng-show="show=='main'" ng-hide="show=='edit'">
        <h3 class="page-header">
          <span>Manage users: </span> <input ng-model="searchUsers" class="search form-control" name="search" autofocus="autofocus" type="text">
        </h3>
        <div ng-repeat="user in users | filter:searchUsers">
          <div class="cont">
            <table>
              <tr>
                <td>Email:</td>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <td>UserName:</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>Active:</td>
                <td>{{user.active}}</td>
              </tr>
              <tr>
                <td>First Name:</td>
                <td>{{user.firstName}}</td>
              </tr>
              <tr>
                <td>Last Name:</td>
                <td>{{user.lastName}}</td>
              </tr>
              <tr>
                <td>Location:</td>
                <td>{{user.idLocation.name}}</td>
              </tr>
            </table>
            <br>
            <table>  
              <tr>
                <td><button ng-click="toggleEditUser(user.email, user.username, user.active, user.firstName, user.lastName, user.idLocation.name, '', '', user.id, user.token)" type = "button" class = "btn btn-warning btn-xs">Edit user</button></td>
                <td>&nbsp;</td>
                <td><button ng-click="toggleCreateUser()" class = "btn btn-primary btn-xs">New user</button></td>
              </tr>
            </table>
          </div>
          <hr>
        </div>
      </div>

      <div ng-show="show=='edit'" ng-hide="show=='main'">
        <h1 class="page-header">Add/Edit Users</h1>
        <form role="form">
          <div class="form-group">
            <label for="newEmail">Email:</label>
            <input class="form-control" type='text' id="newEmail" ng-model="newEmail" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="newUserName">User Name:</label>
            <input type="text" class="form-control" id="newUserName" ng-model="newUserName" placeholder="Enter new username">
          </div>
          <div class="form-group">
            <label for="newActiveState">Active State:</label>
            <input class="form-control" id="newActiveState" ng-model="newActiveState" placeholder="isActive?">
          </select>
        </div>
        <div class="form-group">
          <label for="newFirstName">First Name:</label>
          <input class="form-control" id="newFirstName" ng-model="newFirstName" placeholder="Enter First Name">
        </div>
        <div class="form-group">
          <label for="newLastName">Last Name:</label>
          <input class="form-control" id="newLastName" ng-model="newLastName" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
        <label for="newUserLocation">User Location:</label>
          <input class="form-control" id="newUserLocation" ng-model="newUserLocation" placeholder="Enter new user location (id)">
        </div>
        <div class="form-group">
        <label for="newPassword">Password:</label>
          <input class="form-control" id="newPassword" ng-model="newPassword" placeholder="Enter new password">
        </div>
        <div class="form-group">
        <label for="newRole">Role:</label>
          <input class="form-control" id="newRole" ng-model="newRole" placeholder="Enter new Role">
        </div>
        <button ng-show = "action=='create'" ng-hide= "action=='edit'" class="btn btn-primary" ng-click="createNewUser()">Create</button>
        <button ng-show = "action=='edit'" ng-hide= "action=='create'" class="btn btn-warning" ng-click="editUser()">Update</button>

        <button ng-click="resetShow()" class="btn btn-success">Go Back
        </a>        
      </form>
    </div>
  </div>


</div>
</div>
</div> 