<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Restaurante-n Iasi</title>
        <link href="Booking.css/index.css" rel="stylesheet" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


        <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
        <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="Booking.js/dirPagination.js" type="text/javascript"></script>
    </head>
    <body>
        <div ng-controller="MainController">
            <div class="findRest">
                <img src="Booking.images/IMG_4610901.jpg" alt=""/>
                <div class="findRestSearch">
                    <h2 style="color:red">Find your favourite place</h2><br>
                    <div>
                        <div class="inner-addon left-addon">
                            <div class="input-search">
                                <input type="text" id="input-search" class="form-control" name="" placeholder="Search...">
                            </div>
                        </div>
                        <button ng-click="getRestaurantsByName();" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </div>

            <div class="restCount">
                <h3>{{restCount}} restaurante in Iasi</h3>
            </div>
            <div class="col-md-6"  dir-paginate="rest in locations | filter:q | itemsPerPage: pageSize" current-page="currentPage">

                <section class="restaurant-info">
                    <div class="col-sm-6 right" style="margin-bottom:50px">
                        <figure><img src="Booking.images/{{ rest.imagePath}}" alt="" width="300px" height="300px" ></figure>
                    </div>

                    <div class="col-sm-6">
                        <h2 class="h1">{{rest.name}}</h2>
                        <div class="text">
                            <h4><b>Address</b></h4> {{rest.address}}
                            <h4><b>Program</b></h4> 10:00-24:00
                            <h4><b>Tags</b></h4> 
                            <div class="bs-docs-example">
                                <input type="text" value={{rest.category}} data-role="tagsinput" placeholder="Add tags" style="display: none;"><div class="bootstrap-tagsinput"><span class="tag label label-info">{{rest.category}}<span data-role="remove"></span></span>
                                    <!--                                    <input type="text" placeholder="Add tags" style="width: 8em !important;">-->
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Book Now" class="btn btn-danger" style="width:90px" restaurant-id="{{rest.id}}" onclick="GoToRestaurantPage(this)"></input>
                        </div>
                    </div>
                </section>
            </div>
            

        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="Booking.js/index.js" type="text/javascript"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
        <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>

    </body>
    <footer>
        <div ng-controller="OtherController" class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="Booking.views/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
    </footer>
</html>