<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="#/manager/waiters">Waiters</a></li>
				<li class="active"><a href="#/manager/restaurant">Restaurant</a></li>
				<li><a href="#/manager/bookings">Bookings</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Restaurant</h1>
			TO DO FUNCTIONALITY HERE
			<h2 class="sub-header">Section title</h2>
			Edit restaurant information? Add pictures ? Edit program/Edit menu ? 

			<div>
				{{testMethod()}}
			</div>
		</div>
	</div>
</div> 