<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#/manager/waiters">Waiters</a></li>
        <li><a href="#/manager/restaurant">Restaurant</a></li>
        <li><a href="#/manager/bookings">Bookings</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Waiters</h1>
      TO DO FUNCTIONALITY HERE
      <h2 class="sub-header">Section title</h2>
      Add waiters? Delete Waiters? Edit Waiters?  

      <div>
        {{testMethod()}}
      </div>
    </div>
  </div>
</div> 