<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ><a href="#/waiter/tables">Tables</a></li>
        <li class="active"><a href="#/waiter/bookings">Bookings</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">I am Waiter - Bookings</h1>
        Here we se bookings ? But what do we see at tables ? Not sure about that.
      <h2 class="sub-header">Section title</h2>
        Hello from scope {{title}}. Test method: {{test2()}}
    </div>
  </div>
</div> 