<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#/waiter/tables">Tables</a></li>
        <li><a href="#/waiter/bookings">Bookings</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">I am Waiter - Tables</h1>
        Here we could see some tables ? with bookings associated ? not sure if waiter should haev only one view.
      <h2 class="sub-header">Section title</h2>
        Hello from scope {{title}}. Test method: {{test2()}}
    </div>
  </div>
</div> 