<!DOCTYPE html>
<html ng-app="app" ng-controller="MainController">
    <head>
        <title>{{ restaurantInfo.name}}</title>
        <link href="../Booking.css/restaurant.css" rel="stylesheet" type="text/css"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <head>
    <body>

        <div  class="container-fluid">
            <input type="hidden" id="lattitude" value="{{restaurantInfo.latitude}}">
            <input type="hidden" id="longitude" value="{{restaurantInfo.longitude}}">
            <div class="reservation" id="reservation">

                <div class="bookARestaurant col-md-11">

                    <h2>Complete your reservation</h2><br>
                    <input type="hidden" id="hidLocationId" value="{{booking.locationId}}">
                    <div class="col-md-6" id="reservationDiv">
                        <div margin-top: 20px; id="registration-form">
                             <div class="row" style="margin-top:15px">
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="form-group">
                                        <input class="form-control input-sm glowing-border" id="inputFirstName" type="text" ng-model="booking.firstName" placeholder="First Name" onkeypress="return lettersOnly(event)" required/>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="form-group">
                                        <input class="form-control input-sm glowing-border" id="inputLastName" type="text" ng-model="booking.lastName" placeholder="Last Name" onkeypress="return lettersOnly(event)" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="form-group">
                                        <input class="form-control input-sm glowing-border" id="inputEmail" style="width: 470px" type="email" ng-model="booking.email" placeholder="E-mail" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="form-group">
                                        <input class="form-control input-sm glowing-border" id="inputPhone" type="phone" ng-model="booking.telephone" placeholder="Phone number"  onkeypress="return isNumberKey(event)" required/>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="form-group">
                                        <input class="form-control input-sm glowing-border" ng-model="booking.selectedDate" type="date" id="datepicker" placeholder="Select the date"  required/> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <select class="form-control input-sm glowing-border" name="repeatSelectFrom" id="repeatSelectFrom" ng-model="booking.fromHour">
                                         <option value="">From Hour</option>
                                        <option value="10">10:00</option>
                                        <option value="11">11:00</option>
                                        <option value="12">12:00</option>
                                        <option value="13">13:00</option>
                                        <option value="14">14:00</option>
                                        <option value="15">15:00</option>
                                        <option value="16">16:00</option>
                                        <option value="17">17:00</option>
                                        <option value="18">18:00</option>
                                        <option value="19">19:00</option>
                                        <option value="20">20:00</option>
                                        <option value="21">21:00</option>
                                        <option value="22">22:00</option>
                                        <option value="23">23:00</option>
                                        <option value="24">24:00</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control input-sm glowing-border" name="repeatSelectTo" id="repeatSelectTo" ng-model="booking.untilHour">
                                       <option value="">Until Hour</option>
                                        <option value="10">10:00</option>
                                        <option value="11">11:00</option>
                                        <option value="12">12:00</option>
                                        <option value="13">13:00</option>
                                        <option value="14">14:00</option>
                                        <option value="15">15:00</option>
                                        <option value="16">16:00</option>
                                        <option value="17">17:00</option>
                                        <option value="18">18:00</option>
                                        <option value="19">19:00</option>
                                        <option value="20">20:00</option>
                                        <option value="21">21:00</option>
                                        <option value="22">22:00</option>
                                        <option value="23">23:00</option>
                                        <option value="24">24:00</option>
                                    </select>
                                </div>
                                <div class="col-md-3" >
                                    <select class="form-control input-sm glowing-border" name="repeatPersonNo" id="repeatPersonNo" ng-model="booking.no_persons">
                                         <option value="">Persons</option>
                                        <option value="2-4">2-4</option>
                                        <option value="4-8">4-8</option>
                                        <option value="8-12">8-12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px">
                                <textarea id="comments" class="form-control input-sm glowing-border" ng-model="booking.comment" placeholder="Add a special request (optional)"></textarea>
                            </div>
                            <div class="row">
                                <div class="bookButton col-lg-8">
                                    <button type="submit" class="btn btn-block btn-danger" ng-click="SaveBooking(booking)">Book now</button>
                                </div>
                            </div>
                             <p style="color:red">* By default, a reservation is made for 3 hours.</p>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 30px;" id="reservationMap">
                        <div class="row mapLocation" id="googleMap" style="width:500px;height:200px;">
                        </div>
                        <div style="margin-left: 25px; margin-top: 10px">
                            <div class="contact-details-title animated fadeIn"><h4>{{restaurantInfo.name}}</h4></div>
                            <div class="contact-details animated fadeIn">
                                <h4>{{restaurantInfo.address}}</h4><br>
                                <h4>{{restaurantInfo.telephone}}</h4><br>
                            </div>
                        </div>

                    </div>
                    <div id="reservationMsg" style="display:none; margin-bottom: 20px">
                        <h2 style="color:red"> Thank you for your reservation! </h2>
                    
                    <h2> We'll be waiting for you!</h2>
            </div>
                </div>
            </div>
            
        </div>
        <script src="http://maps.google.com/maps/api/js"></script>
        <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>	
        <script src="../Booking.js/angular.min.js" type="text/javascript"></script>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="../Booking.js/restaurant.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    </body>
</html>